<h1 class="text-center">Carrito de Compras</h1>

<div class="row mb-5 d-flex justify-content-center">
  {{#if productos.length}}
    {{#each productos}}
      <div class="card mb-5" id="product-{{this.product._id}}">
        <div class="card-body">
          <h5 class="card-title">Producto: {{this.product.title}}</h5>
          <p class="card-text">Cantidad: {{this.quantity}}</p>
          <p class="card-text product-total-price">Precio: ${{this.product.totalPrice}}</p>
          <button
            onclick="eliminarProductoDeCarrito('{{this.cartId}}', '{{this.product._id}}')"
            class="btn btn-danger"
          >Eliminar</button>
        </div>
      </div>
    {{/each}}
  {{else}}
  <div class="text-center">
    <p>Au no tenes productos en tu carrito. Mira nuestros productos y llevate el que mas te guste!</p>
    <a href="/products" class="">
       Ver Productos
    <i class="bi bi-cart cart-icon"></i>
  </div>
  {{/if}}
</div>

<h3 id="total-compra">Total de la compra: ${{totalCompra}}</h3>

<form method="post" action="/api/carts/{{cartId}}/purchase">
  <button type="submit" class="btn btn-success">Finalizar Compra</button>
</form>

<script src="/js/carrito.js"></script>